header:before {
    content:
            "";
    background-color: #000000;
    height:70px;
    width:100%;
    text-align:
            center;
    position:
            fixed;
    top:0;
    z-index:100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header #logo {
    position:fixed;
    top : 35px;
    right:40px;
    z-index:102;
    transform:translateY(-50%);
}

header #logo img {
    height:48px;
    background-color: rgba(0, 0, 0, 0.4)
}

#swagger-ui.api-platform .info .title {
    color: #000000;
}
